body{
  font-family: 'Inter', sans-serif;
  background-color: hsl(36, 100%, 99%);
}

h1{
  font-weight: 800;
  font-size: 2.5rem;
  margin: 0 30px 0 0;
}

h2{
  color: hsl(35, 77%, 62%);
  font-size: 2.5rem;
}

h3{
  color: hsl(36, 100%, 99%);
}

p{
  font-size: 15px;
  color: hsl(236, 13%, 42%);
  line-height: 2;
  margin: 5px 0 15px;
}

hr{
  border: 1px solid hsl(236, 13%, 42%);
}

.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.nav-item:hover{
  color: hsl(5, 85%, 63%);
  text-decoration: underline;
}

.top-div{
  display: flex;
}

.top-left-image{
  width: 100%;
}

.read-more{
  background-color: hsl(5, 85%, 63%);
  color: hsl(36, 100%, 99%);
  height: 40px;
  border: none;
  font-family: 'Inter', sans-serif;
  font-weight:bold;
  letter-spacing: 3px;
}

.read-more:hover{
  background-color:hsl(36, 100%, 99%);
  color: hsl(5, 85%, 63%);
  border: 2px solid hsl(5, 85%, 63%);
  cursor: pointer;
}

.top-right{
  background-color: hsl(240, 100%, 5%);
  padding: 20px;
}

.top-right p{
  color: hsl(233, 8%, 79%);
}

.top-right h3:hover{
  color: hsl(35, 77%, 62%);
  cursor: pointer;
}

.bottom-two{
  display: flex;
}

.bottom-div{
  display: flex;
}

.bottom-h2{
  color: hsl(233, 8%, 79%);
  margin: 0;
}

.bottom-h3{
  color: hsl(240, 100%, 5%);
  margin: 5px 0 0;
}

.bottom-h2:hover{
  color: hsl(35, 77%, 62%);
  cursor: pointer;
}

.bottom-h3:hover{
  color: hsl(35, 77%, 62%);
  cursor: pointer;
}

.bottom-div1{
  display: flex;
}

.attribution {
  text-align: center;
  margin-top: 30px;
}

.attribution p {
  font-size: 11px;
  margin: 0;
  line-height: 1.5;
 }

.attribution a {
  text-decoration:none;
  font-weight: bold;
  color: hsl(240, 100%, 5%);
 }

.attribution a:hover{
  color: hsl(5, 85%, 63%);
  text-decoration:underline;
}

@media screen and (max-width: 577px){
    body{
    padding: 10px;
    transition: background-color .5s;
  }

  .icon{
    font-size:40px;
    font-weight: bold;
  }

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: hsl(36, 100%, 99%);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #111;
    display: block;
    transition: 0.3s;
  }

  .sidenav a:hover {
    font-weight: bold;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .nav-item{
    margin: 20px auto 20px;
  }

  .top-div{
    flex-direction: column;
  }

  .top-left{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
  }

  .heading-div{
    margin-top: 20px;
  }

  .top-right{
    margin: 20px auto;
  }

  .bottom-two{
    flex-direction: column;
    margin-bottom: 30px;
  }

  .read-more{
    width: 50%;
  }

  .bottom-div{
    flex-direction: column;
  }

  .bottom-div1{
    margin: 5px auto;
  }

  .bottom-img-div{
    width: 30%;
  }

  .bottom-img{
    width: 100%;
  }

  .bottom-div-text{
    width: 70%;
  }

  .bottom-img-div{
    margin: 5px 20px 10px 0;
  }

}

@media screen and (min-width: 578px) and (max-width: 680px){
    body{
    padding: 100px;
    transition: background-color .5s;
  }

  .icon{
    font-size:40px;
    font-weight: bold;
  }

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: hsl(36, 100%, 99%);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #111;
    display: block;
    transition: 0.3s;
  }

  .sidenav a:hover {
    font-weight: bold;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .nav-item{
    margin: 20px auto 20px;
  }

  .top-div{
    flex-direction: column;
  }

  .top-left{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
  }

  .top-right{
    margin: 20px 0;
  }

  .bottom-two{
    flex-direction: row;
    margin: 30px auto;
  }

  .heading-div{
    width: 50%;
  }

  .heading-div h1{
    font-size: 3rem;
  }

  .paragraph-div{
    width: 50%;
  }

  .read-more{
    width: 70%;
  }

  .bottom-div{
    flex-direction: row;
    margin-top: 30px;
  }

  .bottom-div1{
    flex-direction: column;
    align-items: center;
  }

  .bottom-img-div{
    text-align: center;
  }

  .bottom-img{
    width: 80%;
  }

  .bottom-div-text{
    text-align: left;
    margin: 20px;
  }

  .bottom-h2{
    text-align: center;
    font-size: 2.5rem;
  }

}

@media screen and (min-width: 681px) and (max-width: 900px){
  body{
    padding: 100px;
    transition: background-color .5s;
  }

  .icon{
    font-size:40px;
    font-weight: bold;
  }

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: hsl(36, 100%, 99%);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #111;
    display: block;
    transition: 0.3s;
  }

  .sidenav a:hover {
    font-weight: bold;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .nav{
    margin-bottom: 20px;
  }

  .nav-item{
    margin: 20px auto 20px;
  }

  .top-div{
    flex-direction: column;
  }

  .top-left{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
  }

  .top-right{
    margin: 0 20% 0 20%;
  }

  .bottom-two{
    flex-direction: row;
    margin: 30px auto;
  }

  .heading-div{
    width: 50%;
  }

  .heading-div h1{
    font-size: 2.5rem;
  }

  .paragraph-div{
    width: 50%;
  }

  .read-more{
    width: 70%;
  }

  .bottom-div{
    flex-direction: row;
    margin-top: 30px;

  }

  .bottom-div1{
    flex-direction: column;
    align-items: center;

  }

  .bottom-img-div{
    text-align: center;
  }

  .bottom-img{
    width: 80%;
  }

  .bottom-div-text{
    text-align: center;
    margin: 20px;
  }

   .bottom-h2{
    font-size: 2.5rem;
  }

}

@media screen and (min-width: 901px) and (max-width: 1434px){
    body{
    padding: 50px 200px 0;
    height: 100vh;
  }

  .icon{
    display: none;
  }

  .nav-item{
    text-decoration: none;
    margin: 10px;
    color: hsl(236, 13%, 42%);
  }

  .top-div{
    flex-direction: column;
    margin-bottom: 40px;
  }

  .top-right{
    margin:30px 0 10px 0;
  }

  .bottom-two{
    flex-direction: row;
    margin-top: 20px;
    position: relative;
  }

  .read-more{
    position: absolute;
    left: 55%;
    bottom: 0;
    width: 25%;
  }

  .heading-div{
    width: 55%;
  }

  .heading-div h1{
    font-size: 3.5rem;
  }

  .paragraph-div{
    width: 45%;
  }

  .bottom-div{
    flex-direction: row;
    margin-top: 30px;
  }

  .bottom-div1{
    flex-direction: column;
    align-items: center;
  }

  .bottom-img-div{
    text-align: center;
  }

  .bottom-img{
    width: 80%;
  }

  .bottom-div-text{
    text-align: center;
    margin: 20px;
  }

  .bottom-h2{
    font-size: 2.5rem;
  }

}

@media screen and (min-width: 1435px){
    body{
    padding: 50px 100px 0;
    height: 100vh;
  }

  .icon{
    display: none;
  }

  .nav-item{
    text-decoration: none;
    margin: 30px;
    color: hsl(236, 13%, 42%);
  }

  .top-div{
    margin-bottom: 40px;
  }

  .top-left{
    width: 70%;
    margin-right: 20px;
  }

  .top-right{
    width: 30%;
    margin:0 30px 0 10px;
  }

  .bottom-two{
    flex-direction: row;
    margin-top: 20px;
    position: relative;
  }

  .read-more{
    position: absolute;
    left: 55%;
    bottom: 0;
    width: 25%;
  }

  .heading-div{
    width: 55%;
  }

  .heading-div h1{
    font-size: 3.5rem;
  }

  .paragraph-div{
    width: 45%;
  }

  .bottom-img-div{
    margin-right: 20px;
  }

  .bottom-img{
    width: 100%;
  }

  .bottom-div-text{
    padding-right: 30px;
  }

}
